node_modules
.next
.turbo
.vercel

.env
.env.local
.env.development.local
.env.recette.local
.env.production.local
.env.production
.env.recette

.history
.history/

*.tsbuildinfo
.orchids
.orchids/

dist
build
coverage
